[Desktop Entry]
Version=1.0
Name=Converti in OGG Vorbis
GenericName=Converti in OGG Vorbis
Exec=mp32ogg %f
Icon=vorbis
StartupNotify=false
Terminal=false
NoDisplay=true
Type=Application
Categories=AudioVideo;
MimeType=audio/mpeg;
