[Desktop Entry]
Version=1.0
Name=Converti in MP3
GenericName=Converti in MP3
Exec=ogg2mp3 %f
Icon=audio-mpeg
StartupNotify=false
Terminal=false
NoDisplay=true
Type=Application
Categories=AudioVideo;
MimeType=audio/x-vorbis+ogg;
